@font-face {
	font-family: "iconfont";
	/* Project id 5089926 */
	src: url('@/static/font/iconfont.woff2') format('woff2'),
		url('@/static/font/iconfont.woff') format('woff'),
		url('@/static/font/iconfont.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
}

.icon-message:before {
	content: "\e604";
}

.icon-cart_active:before {
	content: "\e6a9";
}

.icon-profile-active:before {
	content: "\e63c";
}

.icon-menu-active:before {
	content: "\e606";
}

.icon-home_active:before {
	content: "\e610";
}