@font-face {
	font-family: "iconfont";
	/* Project id 5089926 */
	src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
  /* 加上 !important 解决 uni-icons 字体覆盖问题 */
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
	content: "\e604";
}

.icon-cart_active:before {
	content: "\e6a9";
}

.icon-profile-active:before {
	content: "\e63c";
}

.icon-menu-active:before {
	content: "\e606";
}

.icon-home_active:before {
	content: "\e610";
}