@font-face {
	font-family: "iconfont";
	/* Project id 5089926 */
	src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
	content: "\e602";
}

.icon-search:before {
	content: "\e6b9";
}

.icon-message:before {
	content: "\e604";
}

.icon-cart_active:before {
	content: "\e6a9";
}

.icon-profile-active:before {
	content: "\e63c";
}

.icon-menu-active:before {
	content: "\e606";
}

.icon-home_active:before {
	content: "\e610";
}